@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.guide-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  padding: 80px 115px;
  font-family: "Mouse Memoirs", sans-serif;
}

.instruction-title {
  font-size: 6rem;
  color: rgb(36, 98, 255);
  text-align: center;
  margin-bottom: 2rem;
}

.instruction-subtitle {
  color: rgb(20, 14, 102);
  font-size: 2.8rem;
  margin-top: 2.2rem;
}

p {
  font-size: 1.5rem;
  color: #887dc0;
  font-weight: 500;
  text-align: justify;
  width: 100%;
  box-sizing: border-box;
  margin-top: 3rem;
}

.back-button {
  background: linear-gradient(
    45deg,
    rgba(254, 113, 254, 0.9),
    rgba(198, 66, 251, 0.9)
  );
}
.back-content {
  animation: slideInFromTop 2s ease-out;
}
.instruction {
  animation: slideInLeft 1s ease-out;
}

@media (max-width: 768px) {
  .instruction {
    width: 350px;
    height: 350px;
    margin-bottom: 1rem;
  }
  .instruction-title {
    font-size: 3rem;
  }
  .back-content {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }
  .back-button {
    width: 60px;
    height: 60px;
    padding: 0;
  }
  .back-button img {
    width: 24px;
    height: 24px;
  }
  .back-button {
    background: linear-gradient(
      45deg,
      rgba(254, 113, 254, 0.9),
      rgba(198, 66, 251, 0.9)
    );
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
  }
  .back-content img {
    margin-left: 0;
  }
}
