<div *ngIf="modalVisible" class="modal-overlay">
  <div
    class="start-container flex flex-col items-center justify-center h-screen"
  >
    <div class="relative w-1/2 start-content mt-2">
      <h1 class="absolute top-[-60px] left-1/2 transform -translate-x-1/2 z-10">
        <img
          src="/assets/images/Paused.png"
          alt="THE PAUSED TITLE"
          class="mx-auto"
        />
      </h1>
      <div
        class="relative text-center w-full flex flex-col items-center space-y-4"
      >
        <button
          class="button-one text-white px-14 py-2 rounded-3xl border-4 border-[#0b1524] font-mouse-memoirs w-1/2"
          (click)="closeModal()"
        >
          Continue
        </button>
        <button
          class="button-one text-white px-14 py-2 rounded-3xl border-4 border-[#0b1524] font-mouse-memoirs w-1/2"
          (click)="closeModal()"
        >
          New Category
        </button>
        <button
          class="button-one text-white px-14 py-2 rounded-3xl border-4 border-[#0b1524] font-mouse-memoirs w-1/2 button-three"
          (click)="closeModal()"
        >
          Quit Game
        </button>
      </div>
    </div>
  </div>
</div>
