<div *ngIf="modalType" class="modal-overlay">
  <div
    class="start-container flex flex-col items-center justify-center h-screen"
  >
    <div class="relative w-1/2 start-content mt-2">
      <h1 class="absolute top-[-60px] left-1/2 transform -translate-x-1/2 z-10">
        <img
          *ngIf="modalType === 'win'"
          src="/assets/images/You Win.png"
          alt="You Win"
          class="mx-auto"
        />
        <img
          *ngIf="modalType === 'lose'"
          src="/assets/images/You Lose.png"
          alt="You Lose"
          class="mx-auto"
        />
        <img
          *ngIf="modalType === 'paused'"
          src="/assets/images/Paused.png"
          alt="Paused"
          class="mx-auto"
        />
      </h1>
      <div
        class="relative text-center w-full flex flex-col items-center space-y-4"
      >
        <button
          *ngIf="modalType === 'paused' || modalType === 'lose'"
          class="button-one text-white px-14 py-2 rounded-3xl border-4 border-[#0b1524] font-mouse-memoirs w-1/2"
          (click)="handleModalAction()"
        >
          Continue
        </button>
        <button
          *ngIf="modalType === 'win' || modalType === 'lose'"
          class="button-one text-white px-14 py-2 rounded-3xl border-4 border-[#0b1524] font-mouse-memoirs w-1/2"
          (click)="handleModalAction()"
        >
          Play Again
        </button>
        <button
          class="button-one text-white px-14 py-2 rounded-3xl border-4 border-[#0b1524] font-mouse-memoirs w-1/2"
          (click)="handleModalAction()"
        >
          New Category
        </button>
        <button
          class="button-one text-white px-14 py-2 rounded-3xl border-4 border-[#0b1524] font-mouse-memoirs w-1/2 button-three"
          (click)="handleModalAction()"
        >
          Quit Game
        </button>
      </div>
    </div>
  </div>
</div>
