<div
  class="category-container p-8 rounded-lg shadow-lg min-h-screen flex flex-col items-center gap-16 px-28 text-center font-mouse-memoirs"
>
  <div class="w-full flex items-center justify-between">
    <div class="flex items-center single-content">
      <button
        class="p-5 bg-gradient-back-button text-white rounded-full relative flex items-center justify-center"
        (click)="openModal()"
      >
        <img src="assets/images/icon-menu.svg" alt="Back" class="w-8 h-8" />
      </button>
      <h1 class="text-[4rem] text-[#FFFFFF] ml-12">Sports</h1>
    </div>
    <div class="flex items-center single-content">
      <div
        class="progress-bar w-52 h-3 bg-[#ffffff] rounded-full overflow-hidden mr-4"
      >
        <div
          class="progress bg-[#151278] h-full rounded-full ml-4"
          style="width: 50%"
        ></div>
      </div>
      <img src="assets/images/icon-heart.svg" alt="Heart" class="w-8 h-8" />
    </div>
  </div>

  <!-- Word for guessing -->
  <div class="word-container flex justify-center gap-4 single-content">
    <button
      *ngFor="let char of word"
      class="letter text-center bg-[#2463ff] text-[#FFFFFF] rounded-[2rem] text-[5rem] w-36 h-40"
    >
      {{ char }}
    </button>
  </div>

  <div
    class="keyboard-container flex flex-wrap justify-center gap-6 mt-8 single-content"
  >
    <div class="flex gap-6">
      <button
        *ngFor="let letter of lettersRow1"
        class="key bg-white text-[#151278] py-6 px-8 rounded-3xl text-5xl"
      >
        {{ letter }}
      </button>
    </div>

    <div class="flex gap-6 mt-6 single-content">
      <button
        *ngFor="let letter of lettersRow2"
        class="key bg-white text-[#151278] py-6 px-8 rounded-3xl text-5xl"
      >
        {{ letter }}
      </button>
    </div>
    <!-- Row 3 -->
    <div class="flex gap-6 mt-6 single-content">
      <button
        *ngFor="let letter of lettersRow3"
        class="key bg-white text-[#151278] py-6 px-8 rounded-3xl text-5xl"
      >
        {{ letter }}
      </button>
    </div>
  </div>
</div>
<app-modal></app-modal>
