@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.single-content {
  animation: slideInFromTop 2s ease-out;
}
.category-header img {
  margin-left: 0.5rem;
}

.letter {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 2rem;
  font-size: 5rem;
  width: 5rem;
  height: 6rem;
  animation: slideInLeft 2s ease-out;
}
.chr-btn{
  width: auto;
}

@media (max-width: 768px) {
  .letter {
    font-size: 3rem;
  }
  .chr-btn{
    /* background-color: red; */
    width: 40px;
    height: 70px;
    border-radius: 15px;
  }
  
}
