@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.start-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  color: white;
  text-align: center;
  align-items: center;

  animation: slideInFromTop 2s ease-out;
}

.start-content {
  width: 595px;
  height: 450px;
  background: linear-gradient(rgb(52, 74, 186, 0.9), rgb(0, 20, 121, 0.9));
  border-radius: 72px;
  box-shadow: inset 0 -8px 0 4px #140e66, inset 0 6px 0 9px #2463ff;
  --y: -75vh;
  --time-scale: 3;
  padding-top: 150px;
  display: flex;
}

.colors {
  --bg: rgb(254, 113, 254);
  --bg-hover: rgb(229, 155, 254);
  --inner-shadow: rgb(198, 66, 251);
  --outer-shadow: rgb(20, 14, 102);
}
.button-one {
  --bg: rgb(36, 98, 255);
  --bg-hover: rgb(60, 116, 255);
  --inner-shadow: rgb(60, 116, 255);
  --outer-shadow: rgb(20, 14, 102);
  background: var(--bg);
  color: white;
  padding: 0.5rem 2rem;
  border-radius: 1.5rem;

  font-family: "Mouse Memoirs", sans-serif;
  font-size: 1.25rem;
  box-shadow: inset 0 -3px 5px var(--inner-shadow),
    0 8px 8px var(--outer-shadow);
  cursor: pointer;
}

.button-one:hover {
  background: var(--bg-hover);
}
@media (max-width: 768px) {
  .start-content {
    width: 80%;
  }
  .button-one {
    width: 90%;
  }
  .back-content {
    width: 80%;
    justify-content: center;
  }
  .back-button {
    width: 60px;
    height: 60px;
    padding: 0;
  }
  .back-button img {
    width: 24px;
    height: 24px;
  }
  .back-button {
    background: linear-gradient(
      45deg,
      rgba(254, 113, 254, 0.9),
      rgba(198, 66, 251, 0.9)
    );
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .back-content img {
    margin-left: 0;
    margin-top: 16px;
    width: 50%;
  }
}
