<div class="start-container flex flex-col items-center justify-center h-screen">
  <div class="relative w-[50%] start-content mt-2">
    <h1 class="absolute top-[-60px] left-1/2 transform -translate-x-1/2 z-10">
      <img
        src="/assets/images/logo.svg"
        alt="THE HANGMAN GAME"
        class="mx-auto"
      />
    </h1>
    <div class="relative text-center w-full">
      <div
        class="relative mx-auto flex justify-center items-center rounded-full bg-gradient-to-r from-playIconColor1 to-playIconColor2 shadow-lg cursor-pointer"
        style="width: 120px; height: 120px; box-shadow: 0 12px 10px #000000"
      >
        <img
          src="/assets/images/icon-play.svg"
          alt="Play Icon"
          class="text-white z-10"
        />
      </div>
      <button
        class="button-one text-white px-14 py-2 rounded-3xl mt-20 border-4 border-[#0b1524] font-mouse-memoirs w-[50%]"
       routerLink="/guide"
      >
        How to play
      </button>
    </div>
  </div>
</div>
